@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

h1{
    font-family: 'Bree Serif', serif;
    font-size: 3em;
}

h2{
    font-family: 'EB Garamond', serif;
    font-size: 2em;
}

p{
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
}